<ActionBar flat="true" backgroundColor="#FFFFFF" color="#000000">
</ActionBar>
<ScrollView row="1" orientation="vertical" #examples>
  <GridLayout rows="50, *" class="main-container">
    <AbsoluteLayout row="1">
      <StackLayout width="100%">
        <Label row="0" class="page-title" marginTop="-40" text="New Dictionary Word Form"></Label>
        <GridLayout rows="auto, auto" class="item-detail" height="100" (tap)="selectItemDetail(description, 'description')">
          <Label row="0" class="title" text="The word"></Label>
          <TextField
            row="1"
            class="standard-input descrption"
            [(ngModel)]='descriptionTxt'
            (focus)="selectItemDetail(description, 'description')"
            (returnPress)="selectItemDetail(explanation, 'explanation')"
            autocorrect="false"
            returnKeyType="next"
            #description
          >
          </TextField>
          <StackLayout rowSpan="3" [ngClass]="{'unselected-overlay': !isSelected('description') }"></StackLayout>
        </GridLayout>
        
        <GridLayout rows="auto, auto" class="item-detail" height="100" (tap)="selectItemDetail(explanation, 'explanation')">
          <Label row="0" colSpan="2" class="title" text="Explanation"></Label>
          <TextField
            class="standard-input explanation"
            row="1"
            [(ngModel)]='explanationTxt'
            (focus)="selectItemDetail(explanation, 'explanation')"
            (returnPress)="selectItemDetail(level, 'level')"
            returnKeyType="next"
            autocorrect="false"
            #explanation
          >
          </TextField>
          <StackLayout rowSpan="3" [ngClass]="{'unselected-overlay': !isSelected('explanation') }"></StackLayout>
        </GridLayout>
  
        <GridLayout rows="auto, auto" class="item-detail" height="100" (tap)="selectItemDetail(level, 'level')">
          <Label row="0" colSpan="2" class="title" text="Course Level"></Label>
          <TextField
            row="1"
            class="standard-input level"
            [(ngModel)]='levelTxt'
            (focus)="selectItemDetail(level, 'level')"
            (returnPress)="selectItemDetail(examples, 'examples')"
            autocorrect="false"
            #level
          >
          </TextField>
          <StackLayout rowSpan="3" [ngClass]="{'unselected-overlay': !isSelected('level') }"></StackLayout>
        </GridLayout>
  
        <ScrollView orientation="vertical" height="200">
          <GridLayout rows="auto, auto" class="item-detail examples-wrapper"  (tap)="selectItemDetail(examples, 'examples')">
            <Button row="0" colSpan="2" (focus)="selectItemDetail(examples, 'examples')" class="title" text="Add Example" (tap)="openExampleModal()" ></Button>
            <StackLayout row="1" orientation="vertical" #examples>
              <Label *ngFor="let example of usageExamples" class="example-item" textWrap="true" [text]="example"></Label>
            </StackLayout>
            <StackLayout rowSpan="3" *ngIf="!isSelected('examples')" class="unselected-overlay"></StackLayout>
          </GridLayout>
        </ScrollView>
  
        <GridLayout rows="auto, auto" class="item-detail" height="100" (tap)="selectItemDetail(ctype, 'ctype')">
          <Label row="0" colSpan="2" class="title" text="Course type"></Label>
          <Label row="1" class="selectable-label" editable="false" [text]="wordType" (focus)="selectItemDetail(ctype, 'ctype')" (tap)="onWordTypeTap()" #ctype></Label>
          <StackLayout rowSpan="3" *ngIf="!isSelected('ctype')" class="unselected-overlay"></StackLayout>
        </GridLayout>
  
        <StackLayout >
          <GridLayout class="m-x-15 m-y-5 save-word btn-container save">
            <Button text="SAVE WORD" (tap)="submit()"></Button>
          </GridLayout>
        </StackLayout>
      </StackLayout>
    </AbsoluteLayout>
    <ActivityIndicator [busy]="isProcessing"></ActivityIndicator>
  </GridLayout>
</ScrollView>