@import '~nativescript-theme-core/css/core.light.css';
@import './../../app-variables';
@import './../../assets/css/animate.scss';

.focus-word-detail {
  background-image: url("~/assets/icons/background.jpg");
  background-size: cover;
}

.focusword {
  background-color: rgba($color: #FF7761, $alpha: 0.7);
  padding: 5;
  padding-left: 20;
  padding-right: 20;
  color: white;
  visibility: none;
	animation-name: slideInRight;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.10s;
}

.example-item {
  margin-top: 10;
  font-size: 14;
  margin-top: 5;
	color: $light-grey;
  font-size: 16;
  text-transform: lowercase;
  font-style: italic;
}

.example-author {
  font-size: 12;
  margin-top: 15;
  text-align: right;
}

.actionbtn-label {
  text-align: center;
  font-size: 11;
}