@import '~nativescript-theme-core/css/core.light.css';
@import '../../../_app-variables.scss';
@import '../../../assets/css/animate.scss';

.close-btn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: center;
    height: 100%;
}