@import '../../_app-variables.scss';

.actionbar-title {
  color: $midnight-dark;
  font-size: 35;
  font-weight: normal;
  margin-left: 10;
  margin-top: 10;
}

.action-bar {
  text-align: left;
  padding-bottom: 10;
  background-color: $background-light;
}
.word-detail-screen {
  background-color: $valvet-red-light;
}

.top-content {
  text-align: center;
  background-color: $background-light;
  border-bottom-width: 3;
  border-bottom-color: $light-grey;
}

.title {
  font-size: 35;
  font-family: "Assistant-SemiBold","Assistant ExtraLight";
	text-transform: capitalize;
	text-justify: justify;
	color: $midnight-dark;
}

.subtitle {
  margin-top: 5;
	color: $light-grey;
  font-size: 16;
  text-transform: lowercase;
  font-style: italic;
}

.description {
  padding: 20;
  font-size: 14;
  font-style: italic;
}

.level {
  color: $midnight-dark;
  font-size: 20;
	/* font-family: 'Assistant', sans-serif; */
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.5;
}

.card {
  width: 90%;
  margin-top: 10;
  padding: 20;
  background: $background-light;
  border-radius: 10;

}

.example-item {
  margin-top: 10;
  font-size: 14;
}

.example-author {
  font-size: 12;
  margin-top: 15;
  text-align: right;
}