@import '~nativescript-theme-core/css/core.light.css';
@import '../../../_app-variables.scss';
@import '../../../assets/css/animate.scss';


.focus-word {
	font-family: "Assistant-SemiBold","Assistant ExtraLight";
	text-transform: capitalize;
	text-justify: justify;
	color: $midnight-dark;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.10s;
}

.h3 {
	color: $midnight-dark;
	font-size: 20;
	margin-left: 10;
	opacity: 0;
	animation-name: fadeInDown;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

.hr {
	margin-top: 10;
	opacity: 0;
	animation-name: bounceIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

.thick {
	background: $velvet-red;
	border-radius: 16px;
	height: 5;
}

.thin {
	background: $velvet-red;
	height: 1;
}

.explanation-wrapper {
	padding: 15;
}

.desc {
	text-justify: justify;
	font-size: 14;
	margin-top: 15;
	color: $midnight-dark;
	background-color: transparent;
	border-color: transparent;
}

.subtitle {
	color: $light-grey;
	font-size: 16;
}

.spanned {
	letter-spacing: 0.2;
}

.overlay-zoom-out {
	animation-duration: 0.5;
	animation-timing-function: ease;
  	animation-name: overlay-zoom-out;
}

@keyframes overlay-zoom-out {
  0% { transform: scale(1, 1) }
  100% { transform: scale(20, 20) }
}