@import '~nativescript-theme-core/css/core.light.css';
@import '../../_app-variables.scss';
@import '../../assets/css/animate.scss';

.menu-icon {
 margin-top: 10;
}

.actionbar-title {
  color: #fff;
  font-size: 20;
  font-weight: normal;
}

.desc {
	text-justify: justify;
	font-size: 14;
	color: $midnight-dark;
	background-color: transparent;
  border-color: transparent;
  padding-left: 10;
}

.focus-word-container {
  background-size:cover;
}

.focus-word {
	font-family: "Assistant-SemiBold","Assistant ExtraLight";
	text-transform: capitalize;
	text-justify: justify;
	background-color: rgba($color: #FF7761, $alpha: 0.7);
	color: $background-light;
	padding: 5;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.10s;
}

.action-bar {
  background-color: $background-light;
}
.homescreen {
  background-color: $background-light;
}
